.book-card-swiper {
    width: 100%;
  }
  
  
  img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
    width:100%,
  }

  
  .book-card-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .book-card-swiper .swiper-pagination-bullet {
    background: #000; 
  }
  